.table-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 5px;
    background-color: white;
}

.table-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.header {
    font-weight: bold;
    background-color: #f0f0f0;
}

.cellule{
    flex: 1;
    padding: 5px;
}
